<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="getbootstrap-com-by">
      <div class="div">
        <header class="header">
          <div class="div-container">
            <div class="link"><img class="photo" src="img/photo-2023-11-07-15-43-11-1.png" /></div>
            <div class="text-wrapper">Courses</div>
            <div class="text-wrapper-2">My education</div>
            <div class="text-wrapper-3">Tasks</div>
            <img class="am-a-year-old" src="img/am-a-19-year-old-multimedia-artist-student-from-manila-21-1.png" />
          </div>
        </header>
        <div class="overlap">
          <div class="main">
            <div class="div-card">
              <div class="img-placeholder"><div class="text-wrapper-4">Thumbnail</div></div>
              <div class="div-card-body">
                <p class="p">This is a wider card with supporting text below as a</p>
                <p class="text-wrapper-5">natural lead-in to additional content. This content is a</p>
                <div class="text-wrapper-6">little bit longer.</div>
                <div class="small-mins">9 mins</div>
                <div class="overlap-group">
                  <button class="button"><div class="text-wrapper-7">View</div></button>
                  <button class="div-wrapper"><div class="text-wrapper-8">Edit</div></button>
                </div>
              </div>
            </div>
            <div class="div-card-2">
              <div class="img-placeholder-2"><div class="text-wrapper-4">Thumbnail</div></div>
              <div class="div-card-body">
                <p class="p">This is a wider card with supporting text below as a</p>
                <p class="text-wrapper-5">natural lead-in to additional content. This content is a</p>
                <div class="text-wrapper-6">little bit longer.</div>
                <div class="small-mins">9 mins</div>
                <div class="overlap-group">
                  <button class="button"><div class="text-wrapper-7">View</div></button>
                  <button class="div-wrapper"><div class="text-wrapper-8">Edit</div></button>
                </div>
              </div>
            </div>
            <div class="div-card-3">
              <div class="img-placeholder-3"><div class="text-wrapper-4">Thumbnail</div></div>
              <div class="div-card-body">
                <p class="p">This is a wider card with supporting text below as a</p>
                <p class="text-wrapper-5">natural lead-in to additional content. This content is a</p>
                <div class="text-wrapper-6">little bit longer.</div>
                <div class="small-mins">9 mins</div>
                <div class="overlap-group">
                  <button class="button"><div class="text-wrapper-7">View</div></button>
                  <button class="div-wrapper"><div class="text-wrapper-8">Edit</div></button>
                </div>
              </div>
            </div>
            <div class="div-card-4">
              <div class="img-placeholder-4"><div class="text-wrapper-4">Thumbnail</div></div>
              <div class="div-card-body">
                <p class="p">This is a wider card with supporting text below as a</p>
                <p class="text-wrapper-5">natural lead-in to additional content. This content is a</p>
                <div class="text-wrapper-6">little bit longer.</div>
                <div class="small-mins">9 mins</div>
                <div class="overlap-group">
                  <button class="button"><div class="text-wrapper-7">View</div></button>
                  <button class="div-wrapper"><div class="text-wrapper-8">Edit</div></button>
                </div>
              </div>
            </div>
            <div class="div-card-5">
              <div class="img-placeholder-5"><div class="text-wrapper-4">Thumbnail</div></div>
              <div class="div-card-body">
                <p class="p">This is a wider card with supporting text below as a</p>
                <p class="text-wrapper-5">natural lead-in to additional content. This content is a</p>
                <div class="text-wrapper-6">little bit longer.</div>
                <div class="small-mins">9 mins</div>
                <div class="overlap-group">
                  <button class="button"><div class="text-wrapper-7">View</div></button>
                  <button class="div-wrapper"><div class="text-wrapper-8">Edit</div></button>
                </div>
              </div>
            </div>
            <div class="div-card-6">
              <div class="img-placeholder-6"><div class="text-wrapper-4">Thumbnail</div></div>
              <div class="div-card-body">
                <p class="p">This is a wider card with supporting text below as a</p>
                <p class="text-wrapper-5">natural lead-in to additional content. This content is a</p>
                <div class="text-wrapper-6">little bit longer.</div>
                <div class="small-mins">9 mins</div>
                <div class="overlap-group">
                  <button class="button"><div class="text-wrapper-7">View</div></button>
                  <button class="div-wrapper"><div class="text-wrapper-8">Edit</div></button>
                </div>
              </div>
            </div>
            <div class="div-card-7">
              <div class="img-placeholder-7"><div class="text-wrapper-4">Thumbnail</div></div>
              <div class="div-card-body">
                <p class="p">This is a wider card with supporting text below as a</p>
                <p class="text-wrapper-5">natural lead-in to additional content. This content is a</p>
                <div class="text-wrapper-6">little bit longer.</div>
                <div class="small-mins">9 mins</div>
                <div class="overlap-group">
                  <button class="button"><div class="text-wrapper-7">View</div></button>
                  <button class="div-wrapper"><div class="text-wrapper-8">Edit</div></button>
                </div>
              </div>
            </div>
            <div class="div-card-8">
              <div class="img-placeholder-8"><div class="text-wrapper-4">Thumbnail</div></div>
              <div class="div-card-body">
                <p class="p">This is a wider card with supporting text below as a</p>
                <p class="text-wrapper-5">natural lead-in to additional content. This content is a</p>
                <div class="text-wrapper-6">little bit longer.</div>
                <div class="small-mins">9 mins</div>
                <div class="overlap-group">
                  <button class="button"><div class="text-wrapper-7">View</div></button>
                  <button class="div-wrapper"><div class="text-wrapper-8">Edit</div></button>
                </div>
              </div>
            </div>
            <div class="div-card-9">
              <div class="img-placeholder-9"><div class="text-wrapper-4">Thumbnail</div></div>
              <div class="div-card-body">
                <p class="p">This is a wider card with supporting text below as a</p>
                <p class="text-wrapper-5">natural lead-in to additional content. This content is a</p>
                <div class="text-wrapper-6">little bit longer.</div>
                <div class="small-mins">9 mins</div>
                <div class="overlap-group">
                  <button class="button"><div class="text-wrapper-7">View</div></button>
                  <button class="div-wrapper"><div class="text-wrapper-8">Edit</div></button>
                </div>
              </div>
            </div>
          </div>
          <div class="button-toggle-theme">
            <img class="SVG" src="img/SVG.svg" />
            <div class="pseudo"></div>
          </div>
        </div>
        <div class="frame">
          <div class="a-k">A&amp;K 2023</div>
          <div class="text-wrapper-9">FAQ</div>
          <div class="text-wrapper-10">About Us</div>
          <div class="text-wrapper-11">Help</div>
          <p class="text-wrapper-12">CREATED BY INTERNS OF BTS DIGITAL</p>
          <div class="text-wrapper-13">Privacy</div>
          <div class="text-wrapper-14">CONTACT US</div>
          <div class="text-wrapper-15">Astana, Syganak 64/1</div>
          <div class="text-wrapper-16">Almaty, Brusilovskiy 167</div>
          <img class="element" src="img/4-1.png" />
        </div>
        <div class="span-ant-input-affix">
          <div class="input">
            <div class="div-placeholder"><div class="text-wrapper-17">Find your course</div></div>
          </div>
        </div>
        <button class="button-2"><div class="text-wrapper-18">Find</div></button>
        <div class="welcome-to-a-k">Welcome to A&amp;K!</div>
      </div>
    </div>
  </body>
</html>
